{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {{ team.getName() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/fabienplayermanager/css/' ~ 'style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1>
        <img src="{{ asset('bundles/fabienplayermanager/images/' ~ team.getLogoFileName()) }}" alt="{{ team.getName() }}'s logo" />
        {{ team.getName() }}
    </h1>

    <div class="row" ng-controller="TeamController as controller">

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover player">
                        <thead>
                        <tr>
                            <th class="logo">Number</th>
                            <th class="logo">Position</th>
                            <th class="title">Player</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in team.getPlayers() %}
                            <tr ng-click="controller.playerSelected({{ player.getId() }})">
                                <td class="number">#{{ player.getNumber() }}</td>
                                <td>{{ player.getPosition() }}</td>
                                <td>
                                    <span class="name">{{ player.getName() }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well clearfix player-profile">
                <p ng-show="!playerSelected" class="no-player-selected">Hover over a player to see their profile.</p>
                <div ng-show="playerSelected">
                    <img ng-show="imageAvailable"
                        src="{{ asset('bundles/fabienplayermanager/images/') }}{[{ playerPictureFileName }]}"
                        alt="{[{ firstName }]}'s picture"
                        class="pull-left picture" />
                    <div ng-show="!imageAvailable" class="number-placeholder pull-left">
                        <div class="vertical-center">#{[{ playerNumber }]}</div>
                    </div>
                    <p class="name lead">{[{ playerFirstName + ' ' + playerLastName }]}</p>
                    <p class="position">#{[{ playerNumber }]} &mdash; {[{ playerPosition }]}</p>
                </div>
                <div ng-show="loading" class="loading-overlay"><span class="loading-overlay-inner lead">Loading...</span></div>
            </div>
        </div>

    </div>

{% endblock %}